{% extends '::base.html.twig' %}

{% block title %}Expenses{% endblock %}

{% block body %}
    <div id="page-wrapper"><div class="container">
        {% block content %}{% endblock %}
    </div></div> <!-- /.container, /#page-wrapper -->
{% endblock %}
