{% extends '::base.html.twig' %}

{% block title %}Expenses{% endblock %}

{% block body %}
    <div id="page-wrapper"><div class="container">
        <div id="main-wrapper">
            <div id="content">
                {% block content %}{% endblock %}
            </div> <!-- /#content -->
        </div> <!-- /#main-wrapper -->
    </div></div> <!-- /.container, /#page-wrapper -->
{% endblock %}
